
@media screen and (max-width:800px){
    header{
        background-position: center;
    }

    .cupcake{
        width: 40%;
    }

    /* Nosotros */

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
        margin-bottom: 20px;
    }

    .menu-desplegable{
        width: 50%
    }

    /* clientes felices */

    .servicio-cont{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicio-ind{
        width: 60%;
        text-align: center;
    }
    
    .servicio-ind h3{
        margin-top: 0px;
    }
    
    .servicio-ind p{
        text-align: center;
        margin-bottom: 50px;
    }
    
    /* Galeria */
    .imagen-port {
        width: 45%
    }
    
    /* Delivery */
    
    .cards{
        align-items: center;
        flex-direction: column;
    }

    .cards .card{
        width: 80%
    }

    .delivery{
        width: 90%;
        height: 50%;
    }
}